<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Zero-length favicon, replace with your own if you have one -->
  <link rel="icon" href="data:;base64,=">

  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">

  <link rel="preload" as="style" href="/style/style.css">
  <link rel="stylesheet" href="/style/style.css">

</head>
