---
layout: compress
---
<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>

    <article class="recipe">

      <h1>{{ page.title }}</h1>

      {% if page.author %}
        <p>By: {{ page.author }}</p>
      {% endif %}

      <hr />

      {% if page.ingredients %}
        <h2>Ingredients</h2>
        <ul class="ingredients">
        {% for ingredient in page.ingredients %}
          {% include ingredient.html measure=ingredient.qty item=ingredient.item %}
        {% endfor %}
        </ul>
      {% endif %}

      {% if page.ingredientsToBuy %}
        <h2>Ingredients to buy</h2>
        <ul class="ingredients">
        {% for ingredient in page.ingredientsToBuy %}
          {% include ingredient.html measure=ingredient.qty item=ingredient.item %}
        {% endfor %}
        </ul>
      {% endif %}

      {% if page.ingredientsYouHave %}
        <h2>Ingredients you probably have</h2>
        <ul class="ingredients" style="list-style-type: none;">
        {% for ingredient in page.ingredientsYouHave %}
          {% include ingredient.html item=ingredient %}
        {% endfor %}
        </ul>
      {% endif %}

      {% if page.equipment %}
        <h2>Equipment needed</h2>
        <ul class="ingredients" style="list-style-type: none;">
        {% for equipment in page.equipment %}
          {% include ingredient.html measure=equipment.type item=equipment.item %}
        {% endfor %}
        </ul>
      {% endif %}

      <hr />

      {% if page.yield %}
        <p class="amt">{{ page.yield }}</p>
        <hr />
      {% endif %}

      {% comment %} ------------------------------------------- {% endcomment %}

      {% assign class = "instructions" %}

      {% assign li_elements = content | split: '</li>' %}
      {% assign num_li_elements = li_elements | size | minus: 1 %}

      {% if num_li_elements > 20 %}
        {% assign class = class | append: ' has-columns' %}
      {% endif %}

      {% comment %} ------------------------------------------- {% endcomment %}

      <div class="{{ class }}">
        {{ content }}
      </div>

    </article>

  </body>

</html>